* {
  box-sizing: border-box;
}

.loading {
  cursor: wait !important
}

body {
  margin: 0;
  margin-top: 1%;
  padding: 0;
  background-color: gray;
  /* background-color: whitesmoke; */

}

#root {
  display: grid;
  grid-template-columns: 20vw 70vw;
  grid-template-areas:
    ".loginLogo .loginSiteName"
    ".nav-site-name .App"
    ".siteLinks .App";
  gap: 5%;
  height: fit-content;
}

.loginPage {
  /* background-color: black; */
}

.loginLogo,
.loginSiteName {
  font-family: cursive;
  font-size: 2rem;
}


.loginContainer {
  z-index: 1;
  width: 350px;
  height: 220px;
  background: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  box-shadow: 10px 10px 10px black;
}

.loginBtn:hover {
  cursor: pointer;
}

.createNewActBtn:hover {
  cursor: pointer;
}

.createActBtn:hover {
  cursor: pointer;
}


.navbar {
  color: white;
  gap: 30%;
  padding: 1rem;
  justify-self: center;
  background-color: #333;
  border-radius: 5px;
  text-align: center;
  height: fit-content;
  box-shadow: 5px 5px 5px black;

}

.navbar a {
  color: inherit;
  text-decoration: none;
  opacity: .5;
}

.App {
  border: 5px solid darkgray;
  font-size: 4rem;
  border-radius: 5px;
  height: 95vh;
  overflow: auto;
}


.nav-site-name {
  font-size: 3.8rem;
  font-family: cursive;
  color: whitesmoke;
  opacity: 1;
}

.newPostBtn {
  margin-top: 30%;
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 10px 10px 10px black;
  opacity: .6;
  font-size: 1.2rem;
  transition: font-size .2s;
  background: darkolivegreen;
  color: white;
  font-family: inherit
}

.newPostBtn:hover {
  cursor: pointer;
}

.newPostBtn:hover {
  opacity: 1;
  font-size: 1.5rem
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.newPostContainer {
  z-index: 1;
  width: 350px;
  height: 220px;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  box-shadow: 10px 10px 10px black;
}

.textareaNewPost {
  background-color: whitesmoke;
}

textarea::placeholder {
  font-size: 2rem;
  color: darkolivegreen;
  font-family: fantasy;
}

.newPostCloseBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 8px 11px;
  background: darkred;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
  opacity: .5;
}

.newPostCloseBtn:hover {
  cursor: pointer;
  opacity: 1;
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}


li {
  margin-bottom: 30%;
}

ul li:last-child {
  margin-bottom: 15%;
  font-family: cursive;
}

.nav-link {
  /* transition: opacity .2s ease; */
  transition: font-size .2s;

}

.nav-link:hover {
  opacity: 1;
  font-size: 1.7rem;
}

.siteLinks {
  height: fit-content;
  margin-top: 40%;
  font-size: 1.5rem;
}

.postUsername {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: fantasy;
  padding-left: 1%;
  margin-bottom: 0;
  color: #333;

}

.post {
  font-size: 1.3rem;
  transition: font-size .2s;
  margin: 0;
}

.singlePost {
  font-size: 1.3rem;
  margin: 0;
  cursor: default;
}

.post:hover {
  font-size: 1.35rem;

}

.indivPostDiv {
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  margin-bottom: 3%;
  box-shadow: 0px 6px #333;
  padding: 1%;
  /* padding: 1%; */
  /* padding-right: 1%; */
}

.indivPostDiv:hover {
  cursor: pointer;
}

.clickedUserPost:hover {
  cursor: default;
}

.singlePostDiv {
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  margin-bottom: 3%;
  box-shadow: 0px 6px #333;
  padding: 1%;
}

.postControlsDiv {
  display: flex;
  justify-content: space-between;
}

.postControlsDiv button {
  padding: 8px 11px;
  font-size: .8rem;
  opacity: .5;
  transition: font-size .2s;
  transition: opacity .2s;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 2px 2px #333;
}

.postControlsDiv button:hover {
  cursor: pointer;
}

.editPostBtn {
  background: darkolivegreen;
}

.editPostBtn:hover {
  font-size: 1rem;
  opacity: 1;
}

.deletePostBtn {
  background: darkred;
}

.deletePostBtn:hover {
  font-size: 1rem;
  opacity: 1;
}