@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

.loading {
  cursor: wait !important
}

#logoSmall {
  width: 150px;
}

/* for home page... */
/* #logoLarge{

} */

body {
  margin: 0;
  margin-top: 1%;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
  background: url('https://images.unsplash.com/photo-1619252584172-a83a949b6efd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80') no-repeat center center fixed;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.darkTheme {
  background-color: gray;
  background-image: url('https://getwallpapers.com/wallpaper/full/2/b/a/1416103-black-and-gray-backgrounds-2560x1600-for-samsung.jpg');
  color: floralwhite
}

#root {
  display: grid;
  grid-template-columns: 20vw 70vw;
  grid-template-areas:
    ".loginLogo .loginSiteName"
    ".nav-site-name .App"
    ".siteLinks .App";
  gap: 5%;
  height: fit-content;
}

.loginPage {
  /* background-color: black; */
}

.loginLogo,
.loginSiteName {
  font-family: cursive;
  font-size: 2rem;
}


.loginContainer {
  z-index: 1;
  width: 350px;
  height: 220px;
  background: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  box-shadow: 10px 10px 10px black;
}

.loginBtn:hover {
  cursor: pointer;
}

.createNewActBtn:hover {
  cursor: pointer;
}

.createActBtn:hover {
  cursor: pointer;
}


.navbar {
  color: white;
  gap: 30%;
  padding: 1rem;
  justify-self: center;
  background-color: #3335;
  border-radius: 5px;
  text-align: center;
  height: fit-content;
  box-shadow: 5px 5px 5px black;

}

.navbar a {
  color: inherit;
  text-decoration: none;
  opacity: .5;
}

.App {
  /* border: 5px solid darkgray; */
  font-size: 4rem;
  border-radius: 5px;
  height: 95vh;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #777 #555;
}

.App::-webkit-scrollbar {
  width: 1vw;
}

.App::-webkit-scrollbar-thumb {
  background-color: #7775;
}

.App::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.App::-webkit-scrollbar-track {
  background-color: #5555;
}

.nav-site-name {
  font-size: 3.8rem;
  font-family: cursive;
  color: whitesmoke;
  opacity: .8;
  transition: opacity .2s ease;
  text-shadow: 0 0 5px white;
}

.nav-site-name:hover {
  opacity: .8;
}

.newPostBtn {
  margin-top: 30%;
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 10px 10px 10px black;
  opacity: .6;
  font-size: 1.2rem;
  transition: font-size .2s ease;
  transition: opacity .2s ease;
  background: darkolivegreen;
  color: white;
  font-family: inherit
}


.newPostBtn:hover {
  cursor: pointer;
  text-shadow: 0 0 3px white;
  opacity: 1;
  font-size: 1.5rem
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.newPostContainer {
  z-index: 1;
  width: 480px;
  height: 230px;
  background: #3335;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  box-shadow: 10px 10px 10px black;
}

.newPostDiv {
  height: fit-content;
  margin-bottom: -25px;

}

.textareaNewPost {
  background-color: whitesmoke;
  font-family: inherit;
  text-align: center;
  font-weight: bold;
  height: 150px;
  width: 430px;
  position: relative;
  left: -20px;
  top: 10px;
  border: none;
  border: 3px solid darkgray;
  border-radius: 5px;
  font-size: 2rem;
  color: darkolivegreen;
  font-family: fantasy;
}

textarea::placeholder {
  font-size: 2rem;
  color: darkolivegreen;
  font-family: fantasy;
}

.newPostCloseBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 8px 11px;
  background: darkred;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
  opacity: .5;
  transition: opacity .2s;
}

.newPostCloseBtn:hover {
  cursor: pointer;
  opacity: 1;
  font-size: 1rem;
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}


li {
  margin-bottom: 30%;
}

ul li:last-child {
  margin-bottom: 15%;
  font-family: cursive;
}

.nav-link {
  /* transition: opacity .2s ease; */
  transition: font-size .2s;
  transition: opacity .2s ease;

}

.nav-link:hover {
  opacity: 1;
  font-size: 1.7rem;
  text-shadow: 0 0 5px white;
}

.siteLinks {
  height: fit-content;
  margin-top: 40%;
  font-size: 1.5rem;
}

.postUsername {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: fantasy;
  padding-left: 1%;
  margin-bottom: 0;
  /* color: #333; */
}

.post {
  font-size: 1.3rem;
  transition: font-size .2s;
  margin: 0;
}

.post:hover {
  font-size: 1.35rem;
}

.singlePost {
  font-size: 1.3rem;
  margin: 0;
  cursor: default;
}

.singlePost:hover {
  font-size: 1.35rem;
}


.indivPostDiv {
  border: 2px solid darkgray;
  /* border-bottom: 2px solid darkgray; */
  margin-bottom: 3%;
  margin-right: 1.5%;
  box-shadow: 4px 6px 2px #555;
  padding: 1%;
  /* padding: 1%; */
  /* padding-right: 1%; */
}

.indivPostDiv:hover {
  cursor: pointer;
}

.clickedUserPost:hover {
  cursor: default;
}

.singlePostDiv {
  border: 2px solid darkgray;
  margin-right: 1%;
  margin-bottom: 3%;
  box-shadow: 0px 6px #333;
  padding: 1%;
}

.postControlsDiv {
  display: flex;
  justify-content: space-between;
}

.postControlsDiv button {
  padding: 8px 11px;
  font-size: .8rem;
  opacity: .5;
  transition: font-size .2s;
  transition: opacity .2s;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 2px 2px #333;
}

.postControlsDiv button:hover {
  cursor: pointer;
}

.editPostBtn {
  background: darkolivegreen;
}

.editPostBtn:hover {
  font-size: 1rem;
  opacity: 1;
}

.deletePostBtn {
  background: darkred;
}

.deletePostBtn:hover {
  font-size: 1rem;
  opacity: 1;
}

.newPostSubBtn {
  vertical-align: top;
  position: relative;
  top: -38px;
  left: 10px;
  background-color: darkolivegreen;
  font-size: bold;
  border: none;
  font-size: 1rem;
  padding: 4px;
  width: 50px;
  color: white;
  font-family: inherit;
  opacity: .5;
  transition: font-size .2s;
  transition: opacity .2s;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 2px 2px #333;
}

.newPostSubBtn:hover {
  opacity: 1;
  font-size: 1.1rem;
  cursor: pointer;
}

.react-confirm-alert {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);

}

.react-confirm-alert-body {
  width: 430px;
  height: 220px;
  background: gray;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 1.1rem;
  animation: animate 0.3s;
  box-shadow: 10px 10px 10px black;
  border: 5px solid #333;
  padding: 5px
}

.react-confirm-alert-body h1 {
  margin: 0;
  margin-bottom: -10%;
  height: fit-content;
  text-align: center;
}

.react-confirm-alert-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: -10%;
}

.react-confirm-alert-button-group button {
  padding: 8px 11px;
  font-size: .8rem;
  opacity: .5;
  transition: font-size .2s;
  transition: opacity .2s;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 2px 2px #333;
}

.react-confirm-alert-button-group button:hover {
  cursor: pointer;
  opacity: 1;
  font-size: 1rem;
}

.react-confirm-alert-button-group button:first-child {
  background-color: darkolivegreen;
}

.react-confirm-alert-button-group button:last-child {
  background-color: darkred;
}

.settingsPageContainer {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.settingsFormContainer {
  border: 3px solid #333;
  width: 50%;
  padding: 5px;
  margin: 5%;
  margin-top: 0;
  display: flex;
  position: relative;
  top: -20px;
  justify-content: center;
  /* color: black; */
  background: #3335;
  border-radius: 5px;
  box-shadow: 10px 10px 10px black;
}

.settingsFormContainer form {
  display: grid;
  font-size: 2rem;
}

.updateAccBtn {
  background-color: darkolivegreen;
  margin-bottom: 10px;
  margin-top: 10px;
  opacity: .7;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px black;

}

.updateAccBtn:hover {
  cursor: pointer;
  opacity: 1;
  font-size: 1rem;
}

.deleteAccBtn {
  margin-bottom: 10px;
  opacity: .7;
  font-weight: bold;
  background-color: darkred;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px black;

}

.deleteAccBtn:hover {
  cursor: pointer;
  opacity: 1;
  font-size: 1rem;
}

.settingsTitle {
  margin-top: 25px;
  margin-bottom: 5px;
  height: 100px;
}

.settingsTitleUsername {
  font-family: cursive;
}

#editPostTextArea {
  position: relative;
  left: 27px;
  top: -3px;
  font-size: 2rem;
  color: darkolivegreen;
  font-family: fantasy;
}

#editPostSubmitBtn {
  position: relative;
  left: 10px;
  top: -20px;
  font-size: .8rem;

  padding: 8px 11px;
  opacity: .5;
  transition: font-size .2s;
  transition: opacity .2s;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 2px 2px #333;
  background-color: darkolivegreen;
}

#editPostSubmitBtn:hover {
  font-size: .9rem;
  opacity: 1;
  cursor: pointer;
}